.signup-con {
  display: flex;
  justify-content: space-between;
}

.form-con {
  min-height: 100vh;
  width: 50vw;
  background-color: #ffffed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  @include respond(tab-port) {
    width: 100vw;
  }
}

.form {
  &__logo,
  &__logo:link,
  &__logo:visited {
    font-size: 1.5rem;
    color: #171512;
    font-weight: 700;

    @include respond(tab-port) {
      display: inline-block;
      margin: 2.5rem 0;
    }
  }
  &__title {
    &--main {
      font-size: 3rem;
      margin-bottom: 3rem;

      @include respond(tab-port) {
        font-size: 2.5rem;
      }
    }
  }
  &__group {
    width: 80%;
    margin-inline: auto;
    position: relative;
    @include respond(tab-port) {
      width: 90%;
    }
    &--input {
      display: block;
      width: 100%;
      padding: 1.5rem;
      border-radius: 0.5rem;
      border: 1px solid #f3e9d8;
      background-color: transparent;
      margin-top: 0.3rem;

      &:focus {
        outline: none;
        border: 1px solid $color-primary;

        &::placeholder {
          color: $color-primary;
        }
      }

      &::placeholder {
        color: #aaa297;
      }
    }

    &--img {
      position: absolute;
      right: 1.5rem;
      transform: translateY(-3.6rem);
      cursor: pointer;
    }

    &--label {
      font-size: 1.6rem;
      font-weight: 600;
      color: #171512;
    }

    &--terms {
      font-size: 1.6rem;
      cursor: pointer;
    }

    &--checkbox {
      margin-right: 0.5rem;
      cursor: pointer;
    }

    &--link,
    &--link:link,
    &--link:visited {
      color: $color-primary;
      font-weight: 700;
      text-decoration: underline;
    }

    &--btn {
      width: 100%;
      padding: 1.5rem;
      border: none;
      background-color: $color-primary;
      color: #ffffed;
      font-size: 1.6rem;
      font-weight: 600;
      border-radius: 0.5rem;
      cursor: pointer;
    }

    &--signin {
      text-align: center;
      font-size: 1.6rem;
      @include respond(phone) {
        margin-bottom: 2.5rem;
      }

      a,
      a:link,
      a:visited {
        color: $color-primary;
      }
    }
  }
}

.bg {
  height: 100vh;
  width: 50vw;
  background-color: #6d00d3;
  display: flex;
  align-items: center;
  justify-content: center;

  @include respond(tab-port) {
    display: none;
  }
}

.signup__pic {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &--img {
    width: 70%;
    margin-inline: auto;
  }

  &--main {
    text-align: center;
    color: #ffffed;
    font-size: 3rem;
    font-weight: 600;
  }

  &--sub {
    text-align: center;
    width: 70%;
    color: #f1d8eb;
    font-size: 1.6rem;
  }
}

.round__circles {
  display: flex;
  .circle {
    display: block;
    width: 1rem;
    height: 1rem;
    background-color: #ffffed;
    border-radius: 50%;
    margin: 0.5rem;
    cursor: pointer;

    &:not(:first-child) {
      background-color: #b26aed;
    }
  }
}
